[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1.0"
djangorestframework = "==3.11.2"
python-dotenv = "*"
pillow = "*"
more-itertools = "*"
tblib = "*"
coverage = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
cryptography = "*"
django-cors-headers = "*"
django-redis = "*"
celery = "==4.4.7"
redis = "*"
future = "*"
imagehash = "*"
django-guardian = "*"
django-extra-fields = "==3.0.0"
django-filter = "*"
cerberus = "*"
aiohttp = "*"
django-db-logger = "*"
hiredis = "*"
langdetect = "*"
whitenoise = "*"
inotify = "*"
psycogreen = "*"
packaging = "*"
psycopg2 = "*"
btrees = "*"
# https://github.com/JoelLefkowitz/drf-yasg
django-debug-toolbar = "*"
drf-extensions = "*"

[requires]
python_version = "3.8"
